# Ignorer tous les fichiers par défaut
*

# Ne pas ignorer les dossiers (garder la structure)
!*/

# Exclure node_modules et autres fichiers inutiles
node_modules/
.env
dist/
build/

# Ne pas ignorer ce fichier pour que Git le garde
!/.gitignore
